<form [formGroup]="form" (ngSubmit)="OnEnviar($event)">
    <div class="mb-3" id="sec-input">
      <label for="formGroupExampleInput" class="form-label">Nombre y Apellido*</label>
      <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Escribe tu Nombre" formControlName="name" ngModel maxlength="30">
        <div *ngIf="nombre?.errors && nombre?.touched">
          <p *ngIf="nombre?. hasError('required')" class="text-danger">
                    El nombre es requerido.
          </p> 
        </div>
    </div>
    <div class="mb-3" id="sec-input">
      <label for="formGroupExampleInput2" class="form-label">Nombre del negocio*</label>
      <input type="text" class="form-control" id="formGroupExampleInput2" formControlName="negocio" placeholder="Nombre del Negocio" ngModel maxlength="30">
        <div *ngIf="negocio?.errors && negocio?.touched">
          <p *ngIf="negocio?. hasError('required')" class="text-danger">
                    El nombre del negocio es requerido.
          </p> 
        </div>
    </div>
    <div class="mb-3" id="sec-input">
      <label for="formGroupExampleInput2" class="form-label">Tipo de negocio</label>
      <select class="form-select" aria-label="Default select example" formControlName="tipo">
        <option selected>Negocio</option>
        <option value="1">One</option>
        <option value="2">Two</option>
        <option value="3">Three</option>
      </select>
    </div>
    <div class="mb-3" id="sec-input">
      <label for="formGroupExampleInput" class="form-label">Email*</label>
      <input type="email" formControlName="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Escribe tu email" ngModel maxlength="30"> 
              <div *ngIf="email?.errors && email?.touched">
                <p *ngIf="email?. hasError('required')" class="text-danger">
                    El email es requerido.
                </p>
                <p *ngIf="email?. hasError ('email')" class="text-danger">
                  El formato del email debe ser välido.
                 </p>
              </div>
    </div>
    <div class="mb-3" id="sec-input">
      <label for="formGroupExampleInput2" class="form-label">Telfono de contacto</label>
      <input type="number" class="form-control" id="formGroupExampleInput4" placeholder="Ej: 1168820815">
      <div *ngIf="telefono?.errors && telefono?.touched">
        <p *ngIf="telefono?. hasError('required')" class="text-danger">
                  El teléfono es requerido.
        </p> 
        <p *ngIf="telefono?. hasError ('number')" class="text-danger">
          El formato del teléfono debe ser välido.
         </p>
      </div>
    </div>
    <div class="mb-3" id="sec-input">
      <label for="formGroupExampleInput2" class="form-label">Ciudad</label>
      <input type="text" class="form-control" id="formGroupExampleInput5" placeholder="Escribe tu ciudad" formControlName="ciudad" ngModel maxlength="30">
          <div *ngIf="ciudad?.errors && ciudad?.touched">
            <p *ngIf="ciudad?. hasError('required')" class="text-danger">
                      La ciudad es requerida.
            </p> 
          </div>
    </div>
    <div class="cont-btn">
    <button type="submit" class="btn" id="btn-comenzar" routerLink="/registro2">Comenzar</button>
    </div>
  </form>
  